@model Toucan.Sample.Models.ApplicationUser
@{
    ViewData["Title"] = "User Detail";
}

<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>Got model with ID: @Html.DisplayFor(model => model.Id) </p>